
.navbar {
  margin: 0;
}

.main-container {

}

.main-row {

}

.soc-bar,
.sidebar {
  border: solid 2px purple;
  height: 530px;
  position: fixed;
}

.soc-bar{

}

.sidebar {

}


.textGoesHere {
  padding: 0;
}

#editor .ql-editor {
  font-size: 16px;
  min-height: 100px;
}

