html {
  border: solid 3px green;
}

body {
  border: solid 5px blue;
}

.navbar {
  margin: 0;
}

.main-container {

}

.main-row {

}

.soc-bar,
.sidebar {
  border: solid 2px purple;
  height: 530px;
  position: relative;
  top: 0;
}


.textGoesHere {
  padding: 0;
}

#editor .ql-editor {
  font-size: 16px;
  min-height: 100px;
}

